@media (min-width: 992px) {
    .c-item {
        object-fit: cover;
        height: 500px;
        width: 100%;
    }

    .c-img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }


}