/* CSS FOR TEMPLATE */
/* background navbar */
.nav-template{
    background-color: #FFF0E2;
    width: 100%;
    top: 0;
}

.btn{
    background-color: #CC9259;
    color: white;
    border: #332416;
}

.btn:hover{
    color: #fff;
    background-color: #332416;
    
}



/* ini untuk navbarnya */
nav ul li a {
    color: #7F5B38 !important;
    font-family: Poppins, sans-serif;
    text-shadow: 0 0 1px !important;
}

/* hover untuk navigasinya */
nav ul li:hover a {
    color: #332416 !important;
}

/* styling untuk navbar yang aktif */
nav ul li.active a {
    color: #332416 !important;
}

/* untuk mengatur margin top navbar supaya content tidak tertutup */
#layout-content-container{
    margin-top: 0;
}

/* FOOTER */

footer{
    background-color: #332416;
    color: white;
}

.icon, a{
    color: #FFFFFF;
}

h3{
    color: #FFFFFF;
    font-family: Jacques Francois;
}

/* END CSS FOR TEMPLATE */

/* CSS FOR HOME PAGE */
.display-4{
    font-family: Poppins, sans-serif;
    color: #FFB770;
    border-color: #332416;
    border-radius: 2px;
    -webkit-text-stroke: 3px #332416; /* Properti untuk border text di browser Webkit (Chrome, Safari, dll.) */
}

.display-6{
    font-family: Jacques Francois;
    color: #332416;
}

/* END CSS FOR HOME PAGE */

/* CSS FOR ABOUT US PAGE */
/* untuk atur headernya*/
.jumbotron .display-4{
    font-family: Poppins, sans-serif;
    color: #332416
}


.jumbotron {
    padding-top: 8rem;
    padding-bottom: 3rem;
    background-color: #CC9259 !important;
}

.feature-item {
    background-color: antiquewhite !important;
    
}

h5.text-white{
    color: #7F5B38 !important;
}

.have-border{
    border-color: black;
}

.caption-aboutUs {
    font-family: Jacques Francois;
    text-align: justify;
}
/* END CSS FOR ABOUT US PAGE */


/* CSS FOR PROMO PAGE */
.promo-page{
    padding-top: 8rem;
    padding-bottom: 3rem;
    background-color: #CC9259;
}

.blog-start{
    padding-top: 2rem;
}
/* END CSS FOR PROMO PAGE */


/* CSS FOR PROMO PAGE  */
.div-promo{
    padding-top: 8rem;
}

/* CSS FOR ARTICLE */
.content-article{
    padding-top: 4rem;
}
.kolom-gambar{
    background-color: #4C3621;
    padding: 3rem;
}
.kolom-tulisan{
    background-color: #FFF7F0;
    padding: 3rem;
    text-align: left;
}
.gambar-artikel{
    max-width: 80%;
    height: 90%;
}
/* END CSS FOR ARTICLE */


/* CSS FOR PROMO */
.content-promo{
    max-width: 80%;
    height: 90%;
    padding-top: 8rem;
    text-align: center;
    
}

.gambar-promo{
    display: block;
    align-items:center;
    max-width: 100%;
    height: auto;
    padding-bottom: 2rem;
}

.promo-title{
    padding-bottom: 2rem;
}

.form-search{
    padding-bottom: 1rem;
}
/* end css promo */


/* css for create article */
.new-article{
    padding-top: 4rem;
}

/* end css for create article */